<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Título de la Página</title>
  <style>
        /* Estilos personalizados para el encabezado */
        header {
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }
    </style>
</head>
<body>
<header>
  <h1>Título del Sitio</h1>
  <!-- Agrega aquí cualquier otro contenido del encabezado, como un menú de navegación -->
</header>
</body>
</html>
